[submodule "external/CommunityToolkit.Maui"]
	path = external/CommunityToolkit.Maui
	url = https://github.com/CommunityToolkit/Maui.git
[submodule "external/Syncfusion.Maui.Toolkit"]
	path = external/Syncfusion.Maui.Toolkit
	url = https://github.com/syncfusion/maui-toolkit.git
[submodule "external/Maui.DataGrid"]
	path = external/Maui.DataGrid
	url = https://github.com/akgulebubekir/Maui.DataGrid.git
